In [1]:
import pandas as pd 
import numpy as np

In [4]:
data = pd.read_csv("cardiouncleaned.csv")
y_value_counts=data['cardio'].value_counts()
print(y_value_counts)
print(data.shape)

0    35021
1    34979
Name: cardio, dtype: int64
(70000, 13)

In [8]:
data.drop(data[data["ap_hi"]<60].index,axis=0,inplace =True)#delete rows that have ap_hi value less than 60 
data.drop(data[data["ap_hi"]>240].index,axis=0,inplace =True)#delete rows that have ap_hi values greater than 240
data.drop(data[data["ap_lo"]>180].index,axis=0,inplace =True)#delete rows that have ap_lo values greatethan 180
data.drop(data[data["ap_lo"]<40].index,axis=0,inplace =True)# delete rows that have ap_lo values lesser than 40
data.drop(data[data["weight"]<50].index,axis=0,inplace =True)# delete rows that have weight less than 50 grams 
data.drop(data[data["weight"]>210].index,axis=0,inplace =True)# delete rows that have weight greater than 210 grams 


data['gender']=data['gender'].replace(1,'female')#replace gender value 1 to female
data['gender']=data['gender'].replace(2,'male')#replace gender value 2 to male
data['smoke']=data['smoke'].replace(0,'nosmoking ')#replace gender value 0 to no smoking
data['smoke']=data['smoke'].replace(1,'smoking ')#replace gender value 1 to smoking
data['cholesterol']=data['cholesterol'].replace(1,'c1_average')#replacing colestrol and all 
data['gluc']=data['gluc'].replace(1,'average')
data['gluc']=data['gluc'].replace(2,'aboveaverage')
data['gluc']=data['gluc'].replace(3,'high')
print(data.shape)
print(data.head)

(67795, 13)
<bound method NDFrame.head of           id    age  gender  height  weight  ap_hi  ap_lo cholesterol  \
0          0  18393    male     168    62.0    110     80  c1_average
1          1  20228  female     156    85.0    140     90           3
2          2  18857  female     165    64.0    130     70           3
3          3  17623    male     169    82.0    150    100  c1_average
4          4  17474  female     156    56.0    100     60  c1_average
...      ...    ...     ...     ...     ...    ...    ...         ...
69995  99993  19240    male     168    76.0    120     80  c1_average
69996  99995  22601  female     158   126.0    140     90           2
69997  99996  19066    male     183   105.0    180     90           3
69998  99998  22431  female     163    72.0    135     80  c1_average
69999  99999  20540  female     170    72.0    120     80           2

               gluc       smoke  alco  active  cardio
0           average  nosmoking      0       1       0
1           average  nosmoking      0       1       1
2           average  nosmoking      0       0       1
3           average  nosmoking      0       1       1
4           average  nosmoking      0       0       0
...             ...         ...   ...     ...     ...
69995       average    smoking      0       1       0
69996  aboveaverage  nosmoking      0       1       1
69997       average  nosmoking      1       0       1
69998  aboveaverage  nosmoking      0       0       1
69999       average  nosmoking      0       1       0

[67795 rows x 13 columns]>

In [10]:
data.to_csv(r'cardiocleaned.csv')# saving data in a new file in csv frmat